<!DOCTYPE html>
<html>
<head>
  <title>Karl E Landler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="auth">
    <% if current_user %>
      <h6><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></h6>
    <% else %>
      <h6><%= link_to 'Karl?', new_user_session_path %></h6>
    <% end %>
  </div>


  <!-- Flash messages  -->
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:error] %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:error] %>
    </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert] %>
    </div>
  <% end %>

  <h1 class="logo-top text-center"><%= link_to "Karl E. Landler", root_path %></h1>
  <!-- Navbar -->
  <nav class="navbar navbar-default navbar-inner">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Reel', static_reel_path %></li>
          <li><%= link_to 'Bio', static_about_path %></li>
          <li><%= link_to 'Filmmaker', static_film_path %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- Main Content -->
  <div class="main-content">
    <%= yield %>
  </div>

  <div class="social">
    <%= link_to image_tag("instagram.png"), 'https://instagram.com/karlelandler', target:"_blank" %>
    <%= link_to image_tag("facebook.png"), 'https://www.facebook.com/karlelandleroffcial', target:"_blank" %>
    <%= link_to image_tag("imdb.png"), 'http://www.imdb.com/name/nm2076652/', target:"_blank" %>
    <%= link_to image_tag("twitter.png"), 'https://twitter.com/karlelandler', target:"_blank" %>
    <%= link_to image_tag("duo.png"), 'http://duo-film.com', target:"_blank"%>
  </div>

</body>
</html>
